html {
	scroll-behavior: smooth!important;
}

::-webkit-scrollbar{
    display: none;
}

.ad{
	margin-top: 50px;
	width: 100%!important;
	margin-left: 0;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.img-bx{
	width: 300px;
	margin-top: 80px;
	margin-left: 40%;
}

img{
	border-radius: 100%;
	border: 6px solid #000;
    max-width: 100%;
    max-height: 100%;
 
}

img:hover{
	cursor: pointer;
	transition: 0.3s;
	transform: scale(1.03);
}

hr{
	box-shadow: 1px 1px 2px;
	width: 80%;
	margin-left: 10%;
}

.headings{
	text-align: center;
	font-size: 60px;
	font-family: 'Architects Daughter', cursive;
}

.content{
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	margin-top: 40px;
	width: 60%;
	margin-left: 20%;	
}

.cnHd{
	text-align: center;
	font-size: 60px;
	font-family: 'Oswald', sans-serif;
}

.cnul{
	margin-top: 50px;
	text-align: center;
}

.cli{
	margin: 10px;
	padding: 30px;
	display: inline;
	text-decoration: none;
	list-style: none;
}

i{
	font-size: 60px!important;
}

i:hover{
	opacity: 0.7;
	cursor: pointer;
}



@media(max-width: 768px){
	.img-bx{
		margin-left: 20%;
    }
    .headings{
		font-size: 50px;
	}
}